# Python
*.pyc
.cache
.coverage
*.egg-info
build
*pycache*
*.ipynb_checkpoints/*
*checkpoint*
/tests/tmp/*
*.xml
*.zip
*.pkl

# IDEs and editors
*.swp
.vscode
.idea
/data/datasets/*

# Other
.DS_Store
*.notes
.directory


*.parquet
*.pkl

# Python
 *.pyc
 .cache
 .coverage
 *.egg-info
 build
 *pycache*
 */.ipynb_checkpoints/*
 .ipynb_checkpoints/*
 *checkpoints*
# /tests/tmp/*
# /data/classification/*
# /data/regression/*
# *.pytest.cache*
 */introml/*
#
 # IDEs and editors
# *.swp
 .vscode
 .idea
#
#
 # Other
 .DS_Store
 *.notes
 .directory
 .pytest_cache/v/cache/*
 tmp/*
 tmp/*/*
 output/*
 output/*/*
 config/introml.ini
 roster/introml.xlsx
 x
data/all_text_aae.csv
data/*.csv
data/*
outputcsv/*
